version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    volumes:
      - /usr/local/var/mongodb:/data/db
    restart: "unless-stopped"

  proxy:
    image: nginx:latest
    container_name: proxy
    ports:
      - "80:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/nginx.conf
    restart: "unless-stopped"

  express:
    container_name: express
    build:
      context: ./
    depends_on:
      - mongodb
      - proxy
    volumes:
      - ./media:/server/media
    restart: "unless-stopped"
